@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff2f5;
  --card: #ffffff;
  --primary-blue: #0052fe;
  --cta-gradient: linear-gradient(90deg, #2870ea 0%, #1b4aef 100%);
}

body {
  background-color: var(--background);
}
