@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff2f5;
  --card: #ffffff;
  --primary-blue: #0052fe;
  --tertiary-text: #6b7280;
  --secondary-text: #44475b;
  --primary-text: #1f2937;
  --primary-green: #0fba83;
  --primary-red: #f7324c;
  --card-red: #ffddd8;
  --card-blue: #e8f4fd;
  --card-green: #ebf9f4;
  --cta-gradient: linear-gradient(90deg, #2870ea 0%, #1b4aef 100%);
  --blue-green-gradient: linear-gradient(135deg, #79f1a4 0%, #0e5cad 100%);
  --yellow-orange-gradient: linear-gradient(135deg, #ff9865 0%, #ef3031 100%);
}

body {
  background-color: var(--background);
}
